.venv/
__pycache__/
*.pyc
.vscode/
.idea/
Visualizador_MCOC/
unity_visualizador/Library/
unity_visualizador/Logs/
unity_visualizador/UserSettings/
unity_visualizador/Temp/
unity_visualizador/Obj/
unity_visualizador/Build/
unity_visualizador/Builds/
